
C#/SlidesCatizer/bin/

C#/SlidesCatizer/obj/

C#/SlidesCatizer/strings.json

C#/SlidesCatizer/SlidesCatizer.csproj.user

C#/SlidesCatizer/SlidesCatizer.deps.json

C#/SlidesCatizer/credentials.json
