<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Catizer</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div id="card">
    <h1 class="header">Slides Catizer</h1>
    <div>
      <p class="presentationLink">Enter a link to the presentation</p>
      <input type="text" name="presentationLink" class="inputfield" placeholder="Input a link to the presentation" id="input">
    </div>
    <div class="buttons">
      <button type="button" name="button" id="catize">Catize !!!!</button>
      <script src="/static/buttonclick.js"></script>
    </div>
    <div class="pp">
      <a href="https://www.iubenda.com/privacy-policy/79544522" class="iubenda-white iubenda-embed" title="Privacy Policy ">Privacy Policy</a>
      <script type="text/javascript">
      (function (w,d) {
        var loader = function ()
        {
          var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0];
          s.src="https://cdn.iubenda.com/iubenda.js";
          tag.parentNode.insertBefore(s,tag);
        };
        if(w.addEventListener)
        {
          w.addEventListener("load", loader, false);
        }
        else if(w.attachEvent)
        {
          w.attachEvent("onload", loader);
        }
        else
        {
          w.onload = loader;
        }
        })(window, document);
      </script>
    </div>
  </div>
</body>
</html>
